@import 'tachyons.css';

.vtex-cartman-container {
  font-size: 12px;
  bottom: 0;
  top: 0;
}

@media screen and (min-width: 40em) {
  .vtex-cartman-container {
    margin-bottom: 80px;
    height: 740px;
    max-height: 80vh;
    top: initial;
  }
}

.menu-item .menu-item-icon-white {
  display: none;
}

.menu-item:hover .menu-item-icon-black {
  display: none;
}

.menu-item:hover .menu-item-icon-white {
  display: block;
}

.vtex-cartman-loader {
  animation: roll .7s infinite;
}

@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
