/* resets */

.vtex-cartman {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Fabriga,-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
  font-size: 12px;
}

.vtex-cartman h1,
.vtex-cartman h2,
.vtex-cartman h3,
.vtex-cartman h4,
.vtex-cartman h5,
.vtex-cartman h6 { line-height: inherit; margin: inherit; }

/* etc */

.vtex-cartman-container {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  bottom: 0;
  top: 0;
}

@media screen and (min-width: 40em) {
  .vtex-cartman-container {
    margin-bottom: 80px;
    height: 740px;
    max-height: 80vh;
    top: initial;
  }
}

.menu-item .menu-item-icon-white {
  display: none;
}

.menu-item:hover .menu-item-icon-black {
  display: none;
}

.menu-item:hover .menu-item-icon-white {
  display: block;
}

.vtex-cartman-loader {
  animation: roll .7s infinite;
}

@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hello-appear {
  animation-duration: 2s;
  animation-name: hello;
  animation-timing-function: ease-in;
}

@keyframes hello {
  0% {
    transform: translateY(100%) rotate(-270deg);
	}

	6% {
		transform: translateY(-32.27%) rotate(-270deg);
	}

	11% {
		transform: translateY(-13.22%) rotate(-270deg);
	}

	20% {
		transform: translateY(4.63%) rotate(-270deg);
	}

	26% {
		transform: translateY(-1.74%) rotate(-270deg);
	}

	33% {
		transform: translateY(-0.58%) rotate(-270deg);
	}

	40% {
		transform: translateY(.2%) rotate(0deg);
	}

	45% {
		transform: translateY(0%);
  }
  
}
